<div class="container-fluid">
  <div class="row d-flex align-items-center" id="bg-2">

    <div class="col-md-6" >
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <h1 class="text-center mb-3">
            <label for="formGroupExampleInput">Entrar</label>

          </h1>

          <form>
            <div class="form-group">
              <label for="formGroupExampleInput">Usúario</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Digite seu nome">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Senha</label>
              <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Digite sua senha">
              <div class="d-flex justify-content-center mt-4 mb-4">
                <button type="submit" class="btn btn-dark">Entrar</button>
              </div>
            </div>
          </form>
          <hr class="mb-3">
          <div class="d-flex justify-content-center">
            Não tem cadastro? <a href=""> fazer cadastro</a>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-6" id="img-bg">
      <!-- lado direito-->

    </div>

  </div>

</div>