#img-bg{
background-image: url("../../assets/img/teclado_bg.jpg");
min-height: 695px; /*impede que o valor usado da propriedade height se torne menor que o valor especificado para min-height.*/
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}