/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    font-family: 'Press Start 2P', cursive;
}
html{
    scroll-behavior: smooth;
}

.fs-54{
    font-size: 54pt;
}
.fs-18{
    font-size: 18pt;
}
.arrumar{
    /*margin-left: 400px;*/
    margin-top: 20px;
} 